body{
    margin: 0px;
    text-align: center;
    
}
.head1{
   font-family:Kaushan Script;
   font-size: 70px;
   position: relative;
   top: 30px;
   margin-bottom: 0;
   color: #3e3d3d;
   
}

.yo{
        padding: 100px;
        background-color:#3e3d3d68;
      }
        
         .cloud1{
            position: absolute;
            left: 300px;
            top: 300px;
            width: 300px;
         }
         .cloud2{
            position: absolute;
            right: 300px;
            top: 50px;
            height: 100px;
            width: 300px ;
         }
         .pro{
            font-family: Pacifico;
            font-size: 25px;
            margin-top: 0;
            position: relative;
            top: 30px;
            color:#3e3d3ddf ;
         }
         .middle-container{
            line-height: 2;
         }
      .mountain{
        
         height: 400px;
         position: relative;
         top: 105px;
      }
      .nikhils-img{
         height: 200px;
         width: 200px;
         position: relative;
         top: 15px;
      }
      .forPtags{
         font-family: sans-serif;
         font-weight: 700;
         font-style: italic;
         font-size: 20px;
         
      }
      h2{
         font-family: Pacifico;
         font-size: 40px;


       
      }
     h3{
      font-family: Kaushan Script;
      font-size: 20px;
      font-weight: 900;
      color: #3e3d3def;
      
    
      
     }
  
.hello-png{
   display: block;
   
   margin: 30px auto;
   height: 70px;
   width: 70px;
}
.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;

   line-height: 2;
}

.html-img{
   width: 25%;
   float: left;
   margin-right: 30px;

}
.Css-img{
   width: 25%;
   float: right;

}

.contact-img{
   border-radius: 50%;
   height: 30px;
   width: 30px;
   position: relative;
   top:20% ;
   
}
.linkdein{
   height: 30px;
   width: 30px;
   position: relative;
   top:20% ;
   border-radius: 50%;
}
.twitter{
   height: 30px;
   width: 30px;
   position: relative;
   top:20% ;
   border-radius: 50%;
}

hr{
   position: relative;
   border: 6px dotted;
            border-style: dotted none none none;
            height: 2px;
            width: 8%;
            color: grey;
  
}
.copywrite{
   position: relative;
   top: 2px;
   left: 1px;
   height:20px ;
   width: 20px;
}
h4{
   font-family: Pacifico;
   font-size: 20px;
}
.bottom-container{
   height: 200px;
   background-color:#3e3d3d68 ;
}
.nikhil-prajapati{
   position: relative;
   top: 20%;
}

.contact-img:hover{
  background-color: white;
}
.linkdein:hover{  background-color: rgb(255, 255, 255);}
.twitter:hover{  background-color: rgb(255, 255, 255);}
.skills{
   padding: 50px 70px 0px 70px;
}
.middle-container{
   padding: 50px 70px 70px 70px;
}
.contact-me{
   padding:  50px;
}
.change{
   margin-bottom: 100px;
}